<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
        crossorigin="anonymous">
    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="public/css/main.css">
    <title>Imgshare</title>
</head>

<body>
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="public/images/imgshare-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112"
                    height="28">
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    <a class="button is-primary" href="/upload">
                        <span class="icon">
                            <i class="fas fa-plus-square"></i>
                        </span>
                        <span>New post</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>


    {{{ body }}}

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Imgshare</strong> by <a href="https://roberth.me">Roberth González</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>


</body>

</html>